.joblist {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}

.joblist h1 {
    padding: 0.5rem;
}


.three-card-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    margin-left: 80px;
    margin-right: 80px;
}
  
.job-card {
    background-color: rgb(238, 238, 238);
    border: 2px solid rgb(249, 220, 4);
    border-radius: 15px;
    padding: 15px;
    width: calc(33.33% - 15px); /* Adjust the width as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: .5s ease;
}

.job-card:hover {
  transform: scale(1.05);
}

#job-card-icon {
    flex: 0 0 40px; /* Adjust the icon width */
    font-size: 5rem;
    margin-right: 10px;
}
  
.joblist h2 {
    font-size: 1.5rem;
    margin: 0;
}

.joblist h3 {
    font-size: 1rem;
    margin: 0;
}
  
.joblist p {
    font-size: 15px;
    margin: 10px 0;
}

#job-btn {
    margin-top: 100px;
    box-shadow: 0 0 3px rgb(249, 220, 4),
    0 0 3px rgb(249, 220, 4);
    color: black;
    background-color: rgb(249, 220, 4);
    padding: 0.5rem 2rem;
    border: none;
    outline: none;
    border: 2px solid black;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s ease;
    margin-bottom: 20px;
}

#job-btn {
    box-shadow: 0 0 .5px rgb(249, 220, 4),
    0 0 0 2px rgb(249, 220, 4), 0 0 5px rgb(249, 220, 4),
    0 0 10px rgb(249, 220, 4), 0 0 20px rgb(249, 220, 4);
}

#job-btn:active {
    scale: 0.95;
}

@media screen and (max-width: 940px) {
    .search .container {
        grid-template-columns: 1fr;
    }

    .three-card-view {
        display: block;
        justify-content: space-between;
        gap: 20px;
        padding: 20px;
    }

    .job-card {
        padding: 15px;
        width: auto; /* Adjust the width as needed */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .search-col-2 {
        grid-template-columns: 1fr;
    }

    .search .right {
        max-width: 100%;
    }

    .search form {
        width: 100%;
    }

    .search .date {
        flex-direction: column;
    }
}